<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello~ This is my first django project</title>
        <link href="C:\Users\USER\Documents\base\day73\single_pages\templates\single_pages\bootstrap5\css\bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg bg-body-tertiary container">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">DO It Django</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      About Me
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Download lingk(dropbox)</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
        <div id="container">
          <div class="row my-5">
            <div class="col-9">
              <h1> Hello. I'm jihwan. </h1>
              <h2> about_me page </h2>
              <h3> Portfolio </h3>
            </div>
            <div class="col-3">
              <img src="https://i.namu.wiki/i/sSuD5pdh2o9SFJ1ODkXIX0gO_Lrpt46Ptswb3eyO-gpIA0JT09L8j3h6-HL_Fzgc_LWH5MhRZAtpcgkp_DSwQg.webp", class="img-fluid">
            </div>
          </div>
          <div class="row">
            <div class="col bg-info col-lg-6">
              <img src="https://i.namu.wiki/i/sSuD5pdh2o9SFJ1ODkXIX0gO_Lrpt46Ptswb3eyO-gpIA0JT09L8j3h6-HL_Fzgc_LWH5MhRZAtpcgkp_DSwQg.webp", class="img-fluid">
            </div>
            <div class="col bg-secondary col-lg-3">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSosymquQYlo09iQ0MS7hAdyFiyRLVPKfK5tw&s", class="img-fluid">
            </div>
            <div class="col bg-warning col-lg-3">
              <img src="https://i.namu.wiki/i/HHFbCgEVvSQm3Sd4bTrR1SZPxUdb5QD-faM3P26PnEizHlTSCrgnSvEiU74e4exYAjWDXNzhnvu20E-YVrPveg.webp", class="img-fluid">
            </div>
          </div>
        </div>

        <div class="container text-center">
          
        </div>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        
    </body>
</html>